#hero {
    
    .nav {
        height: 100vh;
        width: 27%;
        background-color: rgba(134, 134, 134);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Times New Roman", Times, serif;
        color: #f0f0f0;

        img {
            width: 2.7em;
            height: 2.7em;
            border-radius: 50%;
            border: 0.6rem solid #f0f0f0;
            margin-top: 0.3em;
        }
        p {
            font-size: 0.32em;
            text-transform: capitalize;
            text-align: center;
        }
        div {
            display: grid;
            place-items: center;
            width: 100%;
            ul {
                margin: 0;
                padding: 0%;

                li {
                    display: flex;
                    line-height: 1.3em;
                    align-items: center;
                    justify-content: center;
                    text-transform: capitalize;
                    text-decoration: none;
                    font-size: 0.32em;
                    &:hover {
                        color: #0e7fb4fc;
                        letter-spacing: 0.5em;
                        cursor: pointer;
                        transition: all 300ms ease-in-out;
                    }
                }
            }
        }
    }

    min-height: 100vh;
    min-width: 100vw;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .right {
        width: 73%;
        font-size: 0.32em;
        text-transform: capitalize;
        padding-left: 2em;
        background-color: #f0f0f0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
        color: #868686;
        position: relative;

        label {
            position: absolute;
            align-self: flex-start;
            height: 0.5em;
            left: 1em;
            top: 10px;
            color: #868686;
        }

        input {
            visibility: hidden;
        }

        h1 {
            margin: 0;
        }
        
        p {
            margin: 0;
            margin-bottom: 0.6em;
            text-wrap: wrap;
            display: flex;
            text-align: left;
            text-justify: newspaper;
        }

        a {
            text-decoration: none;
            border: 0.1em solid #0e7fb4fc;
            background-color: #0e7fb4fc;
            border-radius: 0.3rem;
            width: fit-content;
            letter-spacing: 3px;
            padding: 6px 8px;
            text-decoration: none;
            width: fit-content;
            color: #f0f0f0;
            &:hover {
                transition: all 200ms ease-in-out;
            }
        }
    }
}

@media (max-width : 768px) {
    #hero{
        position: relative;

        .nav{
            position: absolute;
            z-index: 11;
            width: 100vw;
        }

        .right{
            position: absolute;
            background-color: transparent;

            label{
                z-index: 111;
                right: 1em;
                top: 1em;
                width: fit-content;
                height: fit-content;
                color: #0e7fb4fc;
            }
            
        }
    }
}
